<h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                type="button"
                class="list-group-item"
            >
                País
            </li>

            <li routerLink="region"
                routerLinkActive="active"
                type="button"
                class="list-group-item">
                Región
            </li>

            <li routerLink="capital"
                routerLinkActive="active"
                type="button"
                class="list-group-item"
            >
                Capital
            </li>
        </ul>

